<footer class="footer">
    <div class="top-bar">
        <div class="top-bar__container container">
            <h3>We're closer than you think.</h3>
            <div class="phone">
                <p>Give us a call</p>
                <h3>1.519.728.2361 ext.4</h3>
            </div>
        </div>
    </div>
    
    <div id="map"></div>

    <div class="bottom-bar">
        <div class="bottom-bar__container container">
            <div class="column-12">
                <div class="logo-wrapper">
                    <img src="/assets/img/logo.png" alt="Innovative Lifescapes. Design. Build. Live." draggable="false">
                </div>
            </div>

            <div class="column-4 footer-about">
                <p>Innovative Lifescapes is a groundbreaking initiative focused on handcrafted, boutique-style production of park model cottages. The production of these elegant seasonal homes signals a turning point in the leisure industry.</p>
            </div>

            <div class="column-5 footer-nav">
                <p>Navigation</p>
                <div class="nav-list">
                    <a href="{{ path_for('home') }}">Home</a>
                    <a href="{{ path_for('about') }}">About</a>
                    <a href="{{ path_for('models') }}">Models</a>
                    <a href="{{ path_for('partners') }}">Partners</a>
                    <a href="{{ path_for('photos') }}">Photos</a>
                    <a href="{{ path_for('faqs') }}">FAQs</a>
                    <a href="{{ path_for('careers') }}">Careers</a>
                    <a href="{{ path_for('contact') }}">Contact</a>
                    <a href="/sitemap.xml">Sitemap</a>
                    <a href="{{ path_for('privacyPolicy') }}">Privacy Policy</a>
                </div>
            </div>

            <div class="column-3 footer-contact">
                <div class="socials">
                    <a href="https://www.facebook.com/innovativelifescapes/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/innovative_lifescapes/" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
                <p>+1 (519) 728-2361 ext. 4</p>
                <p>1023 County Rd. 2,<br/>
                    Belle River, N0R 1A0</p>
                <p>info@innovativelifescapes.com</p>
            </div>

            <div class="column-12 copy">
                <p><strong>&copy; 2018 All Rights Reserved</strong></p>
                <p>A proud member of the <span><a href="http://landscapefx.com/" target="_blank">Landscape Effects Group of Companies</a></span></p>
                <img src="/assets/img/footer-companies.png" alt="Landscape Effects Group, Landscape Effects Property Management Inc., Rochester Place Golf Club & Resort, Parkside Grille, Red Tree Collection, Syn Lawn FX, Innovative Lifescapes, The Drive" draggable="false">
            </div>
        </div>
    </div>

    <div class="back-to-top">
        <a href="#top"><i class="fa fa-long-arrow-up"></i></a>
    </div>
</footer>