<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('about') }}">About</a></li>
        <li><a href="{{ path_for('models') }}">Models</a></li>
        <li><a href="{{ path_for('partners') }}">Partners</a></li>
        <li><a href="{{ path_for('photos') }}">Photos</a></li>
        <li><a href="{{ path_for('faqs') }}">FAQs</a></li>
        <li><a href="{{ path_for('careers') }}">Careers</a></li>
        <li><a href="{{ path_for('contact') }}">Contact</a></li>
    </ul>

    <hr>

    <div class="socials">
        <a href="https://www.facebook.com/innovativelifescapes/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/innovative_lifescapes/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
</div>
